.navbar{
    background-color: #cc0000; color: white;
    }
    
    .active{
    color:#41a0f4;
    }
    
    .navbar-brand{
    color:white;
    }
    
 .footer{
    position: relative;
        left: 0;
        bottom: 0;
        width: 100%;
    background-color: #cc0000;
    color:white;
    text-align: center;
    }

    .alta{
        padding:8px;    
        background-color:rgb(197, 5, 43);

    }
    .media{
        padding:8px;    
        background-color:yellow;
        }
    .baixa{
        padding:8px;    
        background-color:rgb(20, 184, 20) 
       }

    .interno{
                padding: 2%;
                background-color:whitesmoke;

    }